<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846977666902-nf4uo64k2qu9pvm6nj1mpe4r58fe3lab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846977666902-nf4uo64k2qu9pvm6nj1mpe4r58fe3lab</string>
	<key>API_KEY</key>
	<string>AIzaSyCBZ92W-6GO5BALJ4NGk38ogYpJser7Ld4</string>
	<key>GCM_SENDER_ID</key>
	<string>846977666902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-924aa</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-924aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846977666902:ios:4a6599a90962341f3a90f7</string>
</dict>
</plist>